.accordion-item {
  .accordion-title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 38px;

    .icon {
      width: 14px;
      height: 2px;
      background: lighten($primary-title-color, 100%);
      &::after {
        position: absolute;
        content: "";
        width: 14px;
        height: 2px;
        background: lighten($primary-title-color, 100%);
        transform: rotate(
          90deg
        ); /* Rotate the icon when the accordion is open */
      }
    }
  }
  .accordion-content {
    padding-bottom: 38px;
    display: none;
  }
  &.active {
    .accordion-content {
      display: block;
    }
    .icon {
      &::after {
        display: none;
      }
    }
  }
}
