.banner-wrapper {
  padding: 75px 0 165px 0;
  .banner-img {
    right: 0;
    width: 56%;
  }
  .shadow-bg {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
  }
}
.content {
  padding-top: 60px;
  padding-right: 50px;
  .sub-title {
    margin: 0;
    padding: 15px 0;
    padding-right: 60px;
  }
  .paragraph {
    padding-bottom: 40px;
    padding-right: 80px;
  }
}
.find-out {
  .btn-primary {
    border-radius: 101.5px;
    width: 121px;
    height: 121px;
    border-bottom-left-radius: 0;
    padding: 0 25px 0 35px;
    margin-right: 75px;
  }
  .responsive-image {
    width: 45%;
  }
}
