header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  .menu {
    li {
      margin-left: 60px;
    }
  }
  .navbar-toggler {
    border: 0;
    background: transparent;
  }
}
